body{
    background: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(102, 6, 102), rgb(73, 34, 179));
    font: normal 18pt arial;

}
header{
    text-align: center;
    color: darkslateblue;
}
section{
    background: cornflowerblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}
footer{
    font: normal 11pt arial;
    text-align: center;
    color: darkslateblue;
    font-style: italic;
}

.t_box{
    width: 50px;
}

