body{
    background: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(102, 6, 102), rgb(73, 34, 179));
    font: normal 18pt arial;

}
header{
    text-align: center;
    color: rgb(44, 32, 122);
}
section{
    background: rgb(106, 90, 153);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.3em;
}
footer{
    font: normal 11pt arial;
    text-align: center;
    color: rgb(44, 32, 122);
    font-style: italic;
    line-height: 3em;
}

.input{
    text-align: center;
}


label{
    width: 70px;
    display: inline-block;
    text-align: right;
}/*define um tamanho para os labels, de forma que fiquem alinhados aos inputs(o text-align faz com que esse alinhamento seja a direita)*/

#inicio, #fim, #passo{
    width: 50px;
}

p{
    margin: 0px;
}

.saida{
    text-align: left;
}